*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

/* --ff = Font family*/
/* --fw = Fontweight*/
/* --clr-bg = Color background */
/* --fs = Font size*/

/* Custom properties, update these for our own fonts*/

:root{
    --ff-primary: 'Mochiy Pop One', sans-serif;
    --ff-secondary:'Nunito', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;



}

/* SASS ----> you can change fonts within the media query */
@media (min-width: 800px){
    :root{
      --fs-h1: 4.5;
      --fs-h2: 3.75 rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  
}

/* Se pueden utilzar las variables de los selectores anteriormente configuradas */
body{
  background: var(--clr-light);
   color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/*se agrega el 100% para que se adapte a cualquier tipo de pantalla*/
img{
  display: block;
  max-width: 100%;
}

strong{ font-weight: var(--fw-bold);}

/*Tipografia*/
/*El tecto se ajustara al tamano de la pantalla que estemos usando*/
h1,
h2,
h3{
  line-height: 1.1;
  margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);} 

/*STYLING THE TITLES AND SUBTITLES*/

.section__title{
  margin-bottom: .25em;
}
.section__title--intro{
  font-weight: var(--fw-reg);
}
/*selector complejo, toma 2 propiedades*/
.section__title--intro strong{
  display: block;
}

.section__subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
background:var(--clr-accent);
font-family: var(--ff-secondary);

}


/*HEADER*/
nav{ display:none; }


/*INTRO SECTION*/
.intro{
  position: relative;
}